.footer {
    background-color: #4b3039;
    color: #b46666;
    text-align: center;
    padding: 10px 0;
    border-radius: 0 0 8px 8px;
    margin-top: 20px;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
    color: white;
  }
  