.todo-input {
    display: flex;
    margin-bottom: 20px;
  }
  
  .todo-input input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .todo-input button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: hsl(134, 23%, 30%), 20%, 28%);
  
  }
  
  .todo-input button:hover {
    background-color: #462e40;
  }
  